.main {
   flex-grow: 1;

   &_index {
      display: flex;
      align-items: center;
      padding-left: 180px;
      background-image: url("../img/bg.jpg");
      background-position: top;
      background-size: cover;
   }
}

.logo {
   animation: zoomIn 1s;
}

@keyframes zoomIn {
   from {
      transform: scale3d(0, 0, 0);
   }
}

@media (max-width: 1024px) {
   .main {
      &_index {
         padding-left: 60px;
      }
   }
}

@media (max-width: 768px) {
   .main {
      &_index {
         padding-left: 30px;
      }
   }

   .logo {
      width: 230px;
   }
}

@media (max-width: 580px) {
   .logo {
      width: 125px;
   }

   .main {
      &_index {
         background-image: linear-gradient(0.11deg, rgba(0, 0, 0, 0.76) 32.14%, rgba(255, 0, 0, 0) 72.56%),
            url("../img/bg-m.jpg");
         align-items: flex-end;
         justify-content: center;
         padding-bottom: 64px;
         padding-left: 0;
      }
   }
}
