.main {
   flex-grow: 1;

   &_index {
      display: flex;
      align-items: center;
      padding-left: 180px;
      background-image: url("../img/bg.jpg");
      background-position: top;
      background-size: cover;
   }
}
